@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc

@using WebSiteBanHang.Models
@model ThanhVien

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}


<div class=" register">
    <h1>Đăng ký thành viên</h1>
    @using(Html.BeginForm())
    { 
        <div class="col-md-4 register-top-grid">
            <h3>Thông tin cá nhân</h3>
            <div>
                <span>Tài khoản</span>
                @Html.TextBox("TaiKhoan")
            </div>
            <div>
                <span>Họ và tên</span>
               @Html.TextBox("HoTen")
            </div>
            <div>
                <span>Email</span>
               @Html.TextBox("Email")
            </div>
            <div>
                <span>Địa chỉ</span>
                @Html.TextBox("DiaChi")
            </div>
            <div>
                <span>Số điện thoại</span>
                @Html.TextBox("SoDienThoai")
            </div>

        </div>
    <div class="col-md-4 register-bottom-grid register-top-grid">
        <h3>Thông tin đăng nhập</h3>
        <div>
            <span>Câu hỏi</span>
            @Html.DropDownList("CauHoi")
        </div>
        <div>
            <span>Câu trả lời</span>
            @Html.TextBox("CauTraLoi")
        </div>
        @*<a class="news-letter" href="#">
            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
        </a>*@
        <div>
            <span>Mật khẩu</span>
            @Html.Password("MatKhau")
        </div>
        <div>
            <span>Nhập lại mật khẩu</span>
            @Html.Password("NhapLaiMatKhau")
        </div>
        @Html.Captcha(5)
        <input type="submit" value="Hoàn thành">
    </div>
    <div class="clearfix"> </div>
    }
    <h1 style="color:red;">@ViewBag.ThongBao</h1>
</div>
